<!-- templates/contact.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% load static %}
        <title>Contact Us</title>
    </head>
    <body>
        <header>
            <h1>Contact Us</h1>
        </header>
        <div class="container">
            <p>We would love to hear from you! Whether you have a question about our menu, want to provide feedback, or want to book a table, feel free to reach out to us.</p>
            <p>Email: contact@restaurant.com</p>
            <p>Phone: +1 234 567 890</p>
            <p>Address: 1234 Restaurant St, Food City, FL 12345</p>
        </div>
    </body>
</html>
